################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CloudCash/obj
/.vs
/CloudCash.BL/bin
/CloudCash.BL/obj
/CloudCash.Client/bin
/CloudCash.Client/obj
/CloudCash.Common/bin
/CloudCash.Common/obj
/CloudCash.DAL/bin
/CloudCash.DAL/obj
/CloudCash.Interface/bin
/CloudCash.Interface/obj
/CloudCash.Package/.vs
/CloudCash.Package/bin
/CloudCash.Package/obj
/CloudCash.Test/.vs
/CloudCash.Test/bin
/CloudCash.Test/obj
/DesignerUWP/.vs
/DesignerUWP/bin
/DesignerUWP/obj
/Designer/.vs
/Designer/bin
/Designer/obj